In [31]:
import pandas as pd
raw_user_ratings = pd.read_csv('data/recommendations.csv')
final_game_details = pd.read_csv('final_data/game_details.csv')

In [32]:
raw_user_ratings = raw_user_ratings[['app_id', 'user_id', 'is_recommended', 'date', 'hours']]
# raw_user_ratings.replace({True:1, False:0}, inplace=True)
print(raw_user_ratings.head(), '\n')
print(raw_user_ratings.shape)

    app_id  user_id  is_recommended        date  hours
0   975370    49625            True  2022-12-12   36.3
1   304390     2482           False  2017-02-17   11.5
2  1085660   243409            True  2019-11-17  336.5
3   703080   248701            True  2022-09-23   27.4
4   526870    22902            True  2021-01-10    7.9

(38354101, 5)

In [33]:
game_list = final_game_details['app_id'].unique()
subset = raw_user_ratings[raw_user_ratings['app_id'].isin(game_list)]
print(subset.head())
print(subset.shape)

     app_id  user_id  is_recommended        date  hours
2   1085660   243409            True  2019-11-17  336.5
7       730    60799           False  2021-11-30  157.5
9    289070   435505            True  2020-05-26  397.5
10   431960   191619            True  2020-10-14   30.3
14  1172620   117868            True  2020-11-04   89.1
(6727129, 5)

In [34]:
# Count most active users
top_users = subset.groupby('user_id').size().sort_values(ascending=False)[:20]
print(top_users.head(10))

user_id
12050407    36
4755278     35
10735609    35
7609653     34
3635265     33
6612917     32
13326161    30
8543862     30
12262292    30
5433546     29
dtype: int64

In [35]:
# Keep 20 most active users
top_user_recommendation = subset[subset['user_id'].isin(top_users.index)]
top_user_recommendation

          app_id   user_id  is_recommended        date  hours
13574     431960   8588767            True  2020-12-31   59.6
23904     374320   3635265           False  2019-05-05   15.8
29447     292030   9320019            True  2019-05-26  124.7
56459        550   7609653            True  2020-09-28   42.5
135256    292030   8543862            True  2019-04-09  127.7
...          ...       ...             ...         ...    ...
36094407  377160   6612917            True  2017-07-18   25.0
36181129  292030  13326161            True  2015-06-29  142.2
36475887  377160  13326161            True  2015-11-27   12.0
36480066  377160   5433546            True  2020-07-20    7.0
36485539  377160   3635265            True  2018-06-28  106.0

[609 rows x 5 columns]

In [36]:
# Write to New CSV
top_user_recommendation.to_csv('final_data/user_recommendations_subset.csv', index=False)